<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>School of Make-up</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/views/Menu.js"></script>
    <link rel="stylesheet" href="../assets/css/homestyle.css" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
   
    
    
</head>
<body class="homebackground">
     <nav class="navbar navbar-inverse" id= 'menu'>
</nav>
  
<div class="container">
  
  
      </div>
   <header class="intro-header" style="background-image: url('../assets/images/landscape_nrm_1421158906-makeup-forever-uk.jpg')">
       <div class="container">
      
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Welcome to our School of Make-up</h1>
                        <hr class="small">
                        <span class="subheading">Maybe you want to know something about us..</span>
                    </div>
                </div>
                </div>
                </div>
       </header>
       
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
       
        <!--<div class="column content">-->
            <h2 class="post-title">Who are we?</h2>
        <div class="paragraph ">
        <p class="post-subtitle">School of Make-Up was set up in 2004 by celebrity Make-Up and Hair Artist Kate. She still actively teaches on the courses alongside her freelance career. Her husband, AJ, a former professional photographer, is now the manager of the School.</p>
        <h3>History</h3>
        <p class="post-subtitle">After a number of years on working on many TV and Film shoots, it became apparent that her talents and passion lay in training and helping others. At this point Kate embarked upon teacher training at a local College, where she was then offered a job as their Media Make-up tutor which she did for 3 years. Although Kate really enjoyed the teaching aspect, she was longing to set up a private school of her own.</p>
         <p class="post-subtitle">An opportunity arose in 2004 to buy some make-up studio equipment whilst working on a shoot and Kate took the plunge, took out a loan and School Of Make-Up was born. Initially offering small and short one to one courses.</p>
        <p class="post-subtitle">Since then, the School has grown rapildly, gaining an incredible reputation within the TV, Film and Photographic industries for the superior quality of training provided. The School has built up an amazing team of tutors from a wide range of backgrounds who all still work in industry as respected Make-up Artists and Designers, ensuring the training given is ALWAYS up to date.</p>
        <h3>Our reputation is built on our Graduate's success</h3>
        <p class="post-subtitle"> The School's Graduate's success is testament to the quality of training and aftercare support we offer. We are passionate about quality and people, giving comprehensive and relevant training to those who are serious about becoming professional Make-up Artists. We are always here to support our Graduates and help them succeed in their careers - indefinitely.</p>
        <h3>Award winning</h3>
        <p class="post-subtitle">We are very proud to have won the 'Hair & Beauty Guru' award at the English Hair and Beauty awards 2013, for "playing a major role in helping those with a passion for the hair & beauty industry take their first steps into it with the range of training we provide".<br/>
        Offering full and part time make-up and hair courses in TV, Film, Fashion, Photographic and Special Occasions, we will have a course that is right for you.</p>
    </div>
    </div> 
    </div>
    </div>
    </div>
      <footer class="row">
          
              <p class="post-subtitle">Copyright &copy 2016. All rights reserved. Powered by Roxana </p>
          
      </footer>
        
         
</body>
</html>