<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../assets/css/contact.css" type="text/css" />
    <link rel="stylesheet" href="../assets/css/homestyle.css" type="text/css" />
    <script type="text/javascript" src="../assets/js/views/Menu.js"></script>
    <script type="text/javascript" src="../assets/js/models/Contact.js"></script>
    <script type="text/javascript" src="../assets/js/views/ContactView.js"></script>
    
    
    

</head>
<body class="mybackground">
     <nav class="navbar navbar-inverse" id= 'menu'>
</nav>
 

  <section id="container">
    <section class="js-contact" id="hongkiat-form">
        <div id="wrapping" class="clearfix">
			<section id="aligned">
        <input  class="mail txtinput txtinput2" type="text" name="email" placeholder="Email" autocomplete="off" tabindex="1"/><br>
        <textarea class="message txtblock" id="content" rows= "10"  cols="50" placeholder="Need help?" tabindex="2"> </textarea> <br>
        
        </section>
        </div>
        <section id="buttons">
        <button class="send btn submitbtn" id= "contact-message" tabindex="3">Send </button>
        </section>
    </section>
    </section>
  
    <footer id="footer" class="vspace20">
	<div class="row">	
    <div class="span4">
		<h4 class="contact-title-css">Don't hesitate to contact us!</h4>
	    <p><i class="icon-map-marker"></i>&nbsp;Adress: School Of Make-Up, Cluj-Napoca, Gladiolelor 1</p>
	 </div>  
	  <div class="span4">
		<p><i class="icon-envelope"></i>&nbsp;Email: roxana.alb13@gmail.com</p>
			</div>
		 <div class="span4">
	<a href="https://www.facebook.com/roxy.alb"> <img src="../assets/images/logo-facebook.png" width="50px"; height="50px"> </a> 
    <a href="https://www.instagram.com/roxana.alb"> <img src="../assets/images/logo-instagram.jpg" width="45px"; height="45px"> </a> 
	</div>
	</div>
	
	</footer>
   </body>
   </html>