<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/helpers/checkAdmin.js"></script>
    <script type="text/javascript" src="../assets/js/helpers/logout.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/views/Menu.js"></script>
    <script type="text/javascript" src="../assets/js/models/Article.js"></script>
    <script type="text/javascript" src="../assets/js/models/Articles.js"></script>
    <script type="text/javascript" src="../assets/js/models/Comment.js"></script>
    <script type="text/javascript" src="../assets/js/models/Comments.js"></script>
    <script type="text/javascript" src="../assets/js/views/EditArticle.js"></script>
    <link rel="stylesheet" href="../assets/css/homestyle.css" type="text/css" />
    <link rel="stylesheet" href="../assets/css/contact.css" type="text/css" />

</head>
<body class="mybackground" >
     <nav class="navbar navbar-inverse" id= 'menu'>
</nav>
  <button id= "logout-btn">Logout</button>
<div class="container">
         <section id="container">
        <section class="edit-article" id= "hongkiat-form">
       <div id="wrapping" class="clearfix">
	  <section id="aligned">    
        <textarea class= "js-textarea" rows= "2" id="title" ></textarea> <br>
        <textarea class= "js-textarea" rows= "15" id="content" ></textarea> <br>
      </section>
      </div>
      <section id="buttons">
        <button id="send" class= "btn submitbtn" >Send</button>
       </section>
        </section>  
    </section>
    </div>
</body>
</html>