<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/helpers/checkAdmin.js"></script>
    <script type="text/javascript" src="../assets/js/helpers/logout.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/models/Article.js"></script>
    <script type="text/javascript" src="../assets/js/models/Articles.js"></script>
    <script type="text/javascript" src="../assets/js/views/AdminPanel.js"></script>
    <link rel="stylesheet" href="../assets/css/homestyle.css" type="text/css" />
    <script type="text/javascript" src="../assets/js/views/Menu.js"></script>
 
    
</head>

<body class="mybackground">
    <nav class="navbar navbar-inverse" id= 'menu'>
</nav>
  <button id= "logout-btn">Logout</button>
<div class="container">
 
    <input type= "text" name="search" class= "searchbtn" placeholder= "Search"/>
    <button type= "submit" id="search-btn">
      <span class="glyphicon glyphicon-search"></span>
    </button> <br>
    <button id= "add-article" class="css-addArticle">
      <span class="glyphicon glyphicon-plus"></span>Add Article
    </button>
   
      <div class="clearfix">
        <article id="js-objects">
        
          </article>
          
       </div>

   
    <ul id="pagination" class="pagination navbar-brand"></ul>
            
          
   </div>
  </body>
  </html>