<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Account</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/helpers/checkUser.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../assets/css/homestyle.css" type="text/css" />
    <link rel="stylesheet" href="../assets/css/contact.css" type="text/css" />
    <script type="text/javascript" src="../assets/js/views/Menu.js"></script>
    <script type="text/javascript" src="../assets/js/models/User.js"></script>
    <script type="text/javascript" src="../assets/js/models/Users.js"></script>
    <script type="text/javascript" src="../assets/js/views/EditAccount.js"></script>
    <!--<script type="text/javascript" src="../assets/js/views/Login.js"></script>-->
    
   
</head>
<body class="mybackground">
     <nav class="navbar navbar-inverse" id= 'menu'>
</nav>
  
<div class="container">
    <button id="delete-account">Delete Account</button>
    <section id="hongkiat-form" class= "jsCreateForm">
    <div id="wrapping" class="clearfix">
	<section id="aligned">
    <input type="text" class= "js-name txtinput txtinput1" name="name" placeholder= "Enter your Name" tabindex="1"/> <br>
      <input type="password" class= "js-password txtinput txtinput3"  name="password" placeholder= "***Enter your Password" tabindex="2"/> <br>       
    </section>
    </div>
    <h6 class= "error-message"></h6>
    <section id="buttons">
    <button type="submit" class= "js-create btn submitbtn" tabindex="3">Edit Account </buttton> <br>
    </section>
     </section>
</div>
</body>
</html>